body {
    background: url("code.jpg") center/cover no-repeat;
}

header {
    background-color: gray;
    height: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2.2rem;
    margin-bottom: 300px;
    margin-top: -10px;
}

article p {
    background-color: white;
    width: 215px;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 3px;
}

article a {
    color: red;
}

article p1 {
    font-size: 1.2rem;
    color: lightgray;
}

